/node_modules

/public/hot
/public/storage
/public/assets
/public/fonts
/public/images
/public/css
/public/js
/public/mix-manifest.json
/public/admin/js
/public/admin/js/*.js
/public/front/js
/public/*.js

/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/databases/
